<div class="tabla-contenedor">

  <div class="header-container">
    <div class="header-content">
      <h2 class="titulo">Presupuestos</h2>
      <p class="subtitulo">Visualización de presupuestos</p>
    </div>

    <button mat-flat-button color="primary" (click)="abrirModalPresupuesto()">
      <mat-icon>add</mat-icon>
      Nuevo Presupuesto
    </button>
  </div>

  <!-- Contenedor de la tabla (Paper) -->
  <div class="mat-elevation-z8 table-wrapper">

    <table mat-table [dataSource]="dataSource" class="full-width-table">

        <ng-container matColumnDef="mes">
          <th mat-header-cell *matHeaderCellDef> Mes </th>
          <td mat-cell *matCellDef="let element" class="font-weight-bold main-text">
            {{ element.mes | date:'MMMM' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipoGasto">
          <th mat-header-cell *matHeaderCellDef> Tipo gasto </th>
          <td mat-cell *matCellDef="let element" class="font-weight-bold main-text">
            <span>{{ element.nombreTipoGasto }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef> Monto </th>
          <td mat-cell *matCellDef="let element" class="font-weight-bold main-text">
            {{ element.montoPresupuestado }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaRegistro">
          <th mat-header-cell *matHeaderCellDef> Fecha de registro </th>
          <td mat-cell *matCellDef="let element" class="font-weight-bold main-text">
            {{ element.fechaRegistro | date:'dd/MM/yyyy' }}
          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-hover"></tr>

      <!-- Fila para cuando no hay datos (Opcional pero recomendado) -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data-cell" colspan="4">No hay ningun presupuesto registrado</td>
      </tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>

</div>
