/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success {
  background: #2e7d32;
  color: white;
}

.error {
  background: #c62828;
  color: white;
}

.warning {
  background: #ed6c02;
  color: white;
}

