CREATE DATABASE [PresupuestoPersonal]
GO

USE [PresupuestoPersonal]
GO

-- ================================================
-- TABLAS
-- ================================================

-- Tabla: Persona
CREATE TABLE [dbo].[Persona](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[PrimerNombre] [nvarchar](20) NULL,
	[PrimerApellido] [nvarchar](20) NULL,
	[Correo] [nvarchar](30) NULL,
	[FechaRegistro] [datetime] NULL DEFAULT (getdate()),
	[Activo] [bit] NULL DEFAULT ((1)),
	PRIMARY KEY CLUSTERED ([IdPersona] ASC)
)
GO

-- Tabla: Usuario
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](15) NULL,
	[ClaveHash] [nvarchar](255) NULL,
	[IdPersona] [int] NOT NULL,
	[FechaRegistro] [datetime] NULL DEFAULT (getdate()),
	[Activo] [bit] NULL DEFAULT ((1)),
	PRIMARY KEY CLUSTERED ([IdUsuario] ASC)
)
GO

-- Tabla: FondoMonetario
CREATE TABLE [dbo].[FondoMonetario](
	[IdFondoMonetario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NULL,
	[Tipo] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](200) NULL,
	[FechaRegistro] [datetime] NULL DEFAULT (getdate()),
	[Activo] [bit] NULL DEFAULT ((1)),
	PRIMARY KEY CLUSTERED ([IdFondoMonetario] ASC)
)
GO

-- Tabla: Deposito
CREATE TABLE [dbo].[Deposito](
	[IdDeposito] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[IdFondoMonetario] [int] NOT NULL,
	[Monto] [int] NULL,
	[FechaRegistro] [datetime] NULL DEFAULT (getdate()),
	[Activo] [bit] NULL DEFAULT ((1)),
	PRIMARY KEY CLUSTERED ([IdDeposito] ASC)
)
GO

-- Tabla: TipoGasto
CREATE TABLE [dbo].[TipoGasto](
	[IdTipoGasto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](8) NULL,
	[Nombre] [nvarchar](150) NULL,
	[Descripcion] [nvarchar](200) NULL,
	[FechaRegistro] [datetime] NULL DEFAULT (getdate()),
	[Activo] [bit] NULL DEFAULT ((1)),
	PRIMARY KEY CLUSTERED ([IdTipoGasto] ASC)
)
GO

-- Tabla: GastoEncabezado
CREATE TABLE [dbo].[GastoEncabezado](
	[IdGastoEncabezado] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[IdFondoMonetario] [int] NOT NULL,
	[Observaciones] [nvarchar](200) NULL,
	[NombreComercio] [nvarchar](100) NULL,
	[TipoDocumento] [nvarchar](100) NULL,
	[FechaRegistro] [datetime] NULL DEFAULT (getdate()),
	[Activo] [bit] NULL DEFAULT ((1)),
	PRIMARY KEY CLUSTERED ([IdGastoEncabezado] ASC)
)
GO

-- Tabla: GastoDetalle
CREATE TABLE [dbo].[GastoDetalle](
	[IdGastoDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdGastoEncabezado] [int] NOT NULL,
	[IdTipoGasto] [int] NOT NULL,
	[Monto] [int] NULL,
	[FechaRegistro] [datetime] NULL DEFAULT (getdate()),
	[Activo] [bit] NULL DEFAULT ((1)),
	PRIMARY KEY CLUSTERED ([IdGastoDetalle] ASC)
)
GO

-- Tabla: Presupuesto
CREATE TABLE [dbo].[Presupuesto](
	[IdPresupuesto] [int] IDENTITY(1,1) NOT NULL,
	[Mes] [datetime] NULL,
	[IdTipoGasto] [int] NOT NULL,
	[MontoPresupuestado] [int] NULL,
	[FechaRegistro] [datetime] NULL DEFAULT (getdate()),
	[Activo] [bit] NULL DEFAULT ((1)),
	PRIMARY KEY CLUSTERED ([IdPresupuesto] ASC)
)
GO

-- ================================================
-- RELACIONES (FOREIGN KEYS)
-- ================================================

-- Usuario -> Persona
ALTER TABLE [dbo].[Usuario]  
ADD CONSTRAINT [FK_Usuario_Persona] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Persona] ([IdPersona])
GO

-- Deposito -> FondoMonetario
ALTER TABLE [dbo].[Deposito]  
ADD CONSTRAINT [FK_Deposito_FondoMonetario] FOREIGN KEY([IdFondoMonetario])
REFERENCES [dbo].[FondoMonetario] ([IdFondoMonetario])
GO

-- GastoEncabezado -> FondoMonetario
ALTER TABLE [dbo].[GastoEncabezado]  
ADD CONSTRAINT [FK_GastoEncabezado_FondoMonetario] FOREIGN KEY([IdFondoMonetario])
REFERENCES [dbo].[FondoMonetario] ([IdFondoMonetario])
GO

-- GastoDetalle -> GastoEncabezado
ALTER TABLE [dbo].[GastoDetalle]  
ADD CONSTRAINT [FK_GastoDetalle_GastoEncabezado] FOREIGN KEY([IdGastoEncabezado])
REFERENCES [dbo].[GastoEncabezado] ([IdGastoEncabezado])
GO

-- GastoDetalle -> TipoGasto
ALTER TABLE [dbo].[GastoDetalle]  
ADD CONSTRAINT [FK_GastoDetalle_TipoGasto] FOREIGN KEY([IdTipoGasto])
REFERENCES [dbo].[TipoGasto] ([IdTipoGasto])
GO

-- Presupuesto -> TipoGasto
ALTER TABLE [dbo].[Presupuesto]  
ADD CONSTRAINT [FK_Presupuesto_TipoGasto] FOREIGN KEY([IdTipoGasto])
REFERENCES [dbo].[TipoGasto] ([IdTipoGasto])
GO